[submodule "src/extern/SDL"]
	path = src/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/extern/KTX-Software"]
	path = src/extern/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
